<div class="d-flex" style="min-height: 85vh">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto px-1 align-self-center">
    <div class="card my-4">
      <div class="card-body">
        <form [formGroup]="newUserForm">
          <h3 class="card-title text-center">Create Account</h3>
          <div class="container my-2 px-0">
            <div class="form-row mb-3 px-0">
              <div class="col-md-4 mb-2 px-1">
                <label>First name</label>
                <input formControlName="firstName" class="form-control" placeholder="Jane">
              </div>
              <div class="col-md-2 mb-2 px-1">
                <label>Initial</label>
                <input formControlName="initial" class="form-control" placeholder="F">
              </div>
              <div class="col-md-6 mb-2 px-1">
                <label>Last Name</label>
                <input formControlName="lastName" class="form-control" placeholder="Doe">
              </div>
            </div>
            <div class="form-row mb-3 px-1">
              <label>Email</label>
              <input formControlName="email" class="form-control">
            </div>
            <div class="form-row mb-3 px-1">
              <label>Password</label>
              <input formControlName="password" class="form-control">
            </div>
          </div>
          <a href="#" class="btn btn-primary float-right">Submit</a>
        </form>
      </div>
    </div>
  </div>
</div>
