<div class="container">
  <div class="row">
    <div class="col-sm-4 mb-2">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Referrals</h5>
          <p class="card-text">
            Share this with friends! Participation is open to everyone.
          </p>
          <a href="#" class="btn btn-primary mt-auto">Send Invite</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-2">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Learn More</h5>
          <p class="card-text">
            Want to learn more about this study? Click here for more details.
          </p>
          <a href="#" class="btn btn-primary mt-auto">Study Info</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-2">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Questions?</h5>
          <p class="card-text">
            We'd love to hear from you. Reach us here.
          </p>
          <a href="#" class="btn btn-primary mt-auto">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
