<div class="d-flex" style="min-height: 85vh">
  <div class="col-sm-8 col-md-6 col-lg-4 mx-auto px-1 align-self-center">
    <div class="card my-4 shadow">
      <div class="card-body">
        <form [formGroup]="loginForm" novalidate>
          <h3 class="card-title text-center mb-3">Login</h3>
          <div class="form-group form-row mb-2 px-1">
            <label>Email</label>
            <input formControlName="email" class="form-control">
          </div>
          <div class="form-group form-row mb-2 px-1">
            <label>Password</label>
            <div class="input-group">
              <input type={{passwordFieldType}} formControlName="password" class="form-control">
              <div class="input-group-append"
                (mouseenter)="passwordFieldType='text'"
                (mouseleave)="passwordFieldType='password'">
                <span class="input-group-text">👁</span>
              </div>
            </div>
          </div>
          <small *ngIf="loginFormFlags.authFail" class="text-danger">
            Username or password is incorrect.
          </small>
          <div class="d-flex flex-row-reverse mt-4">
            <button (click)="onFormSubmitClick()" type="submit" class="btn btn-primary align-self-center">
              Login
            </button>
            <small class="text-muted float-left align-self-end mr-auto">
              New user? <a routerLink="/register">Sign up</a>
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
