<div class="jumbotron jumbotron-fluid">
  <div class="container text-light">
    <h1>Your Personal Retirement Simulation</h1>
    <p>
      You are about to begin a simulation of what might happen to your retirement account based on your personal investment decisions. This academic research is being conducted by Dr. Gregory A. Kuhlemeyer of Carroll University. Your behavioral choices will be combined with those of others and submitted to an academic journal. 
      Once we have the first 100, 200 and 300 participants, you will be eligible to have your name randomly drawn for a $250 Amazon gift card. This simulation will take 10-15 minutes for the typical individual.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
    </p>
  </div>
</div>

<div class="container scroll-target"></div>



<router-outlet></router-outlet>
