<div class="container my-4">
  <h1 class="display-4">Retirement Survey</h1>
  <form [formGroup]="form" class="mt-4">
    <div class="form-group">
      <label for="surveyRetirementAge">Retirement Age</label>
      <input class="form-control" id="surveyRetirementAge">
    </div>
    <div class="form-group">
      <label for="surveyRetirementGoal">Retirement Goal</label>
      <input class="form-control" id="surveyRetirementGoal">
    </div>
    <div class="form-group">
      <label for="surveyRetirementCurrentSavings">Currently saved for Retirement (estimate):</label>
      <input class="form-control" id="surveyRetirementCurrentSavings">
    </div>
    <div class="form-group">
      <label for="surveySocialSecurityReceived">Do you receive social security benefits?</label>
      <select class="form-control" id="surveySocialSecurityReceived">
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    <div class="form-group">
      <label for="surveyEmployerSalaryDeposit">Approximate percent of your salary that your employer deposits (if appropriate)?</label>
      <input class="form-control" id="surveyEmployerSalaryDeposit">
    </div>
    <div class="form-group">
      <label for="surveyRetirementConcern">Concerns that you might not live to start retirement?</label>
      <select class="form-control" id="surveyRetirementConcern">
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
