<div class="container my-4">
  <h1 class="display-4 mb-4">Retirement Survey</h1>
  <form [formGroup]="retirementSurveyForm">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label>Retirement Age</label>
        <input formControlName="retirementAge" class="form-control">
        <small class="form-text text-muted">At what age do you plan to retire?</small>
      </div>
      <div class="col-md-4 mb-3">
        <label>Social Security</label>
        <select formControlName="socialSecurityBenefit" class="form-control">
          <option>Yes</option>
          <option>No</option>
        </select>
        <small class="form-text text-muted">Do you receive Social Security benefits?</small>
      </div>
      <div class="col-md-4 mb-3">
        <label>Concerns</label>
        <select formControlName="retirementLifetimeConcern" class="form-control">
          <option>Yes</option>
          <option>No</option>
        </select>
        <small class="form-text text-muted">Concerned about living to start retirement?</small>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>Retirement Goal</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input formControlName="retirementGoal" class="form-control">
        </div>
        <small class="form-text text-muted">What is your goal for retirement savings?</small>
      </div>
      <div class="col-md-6 mb-3">
        <label>Current Savings</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input formControlName="currentSavings" class="form-control">
        </div>
        <small class="form-text text-muted">Approximately how much do you have saved so far?</small>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label>Employer Deposit</label>
        <div class="input-group">
          <input formControlName="employerDeposit" class="form-control" placeholder="3.20">
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>
        <small class="form-text text-muted">What percent of your income does your employer deposit towards your retirement?</small>
      </div>
    </div>

    <button (click)="onFormSubmitClick()" type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
