<div class="container mb-4">
  <div class="row">
    <div class="col-sm-4 mb-2">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Referrals</h5>
          <p class="card-text">
            Participation is&nbsp;open to&nbsp;everyone.<br>
            Share this with a friend!
          </p>
          <a href="#" class="btn btn-primary mt-auto">Send Invite</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-2">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Learn More</h5>
          <p class="card-text">
            Curious&nbsp;about this&nbsp;study?<br>
            Click here for more details.
          </p>
          <a href="#" class="btn btn-primary mt-auto">Study Info</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-2">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Questions?</h5>
          <p class="card-text">
            We'd&nbsp;love to hear from&nbsp;you.<br>
            Reach us here.
          </p>
          <a href="#" class="btn btn-primary mt-auto">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
